{% extends "base.html" %}

{% block app_content %}
<body class="">
    <div class="container">
        <main>
            <h2><span><u>Add a New Channel</u></span></h2>
            <div class="row">
                <div class="col-md-8">
                    <form action="" method="POST" name="form">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            {# Basic Channel Information #}
                            <legend>Channel Definition</legend>
                            <div class="col-md-4 g-2">
                                {{ form.name.label }}
                                {{ form.name() }}
                            </div>
                            <div class="col-md-4 g-2">
                                {{ form.measurement_type.label }}
                                {{ form.measurement_type() }}
                            </div>
                            <div class="col-md-4 g-2">
                                {{ form.measurement_units.label }}
                                {{ form.measurement_units() }}
                            </div>
                        </div>
                        <div class="row">
                            {# Measurement Information #}
                            <div class="col-md-4 g-2">
                                {{ form.min_range.label }}
                                {{ form.min_range() }}
                            </div>
                            <div class="col-md-4 g-2">
                                {{ form.max_range.label }}
                                {{ form.max_range() }}
                            </div>
                            <div class="col-md-4 g-2">
                                {{ form.full_scale_range.label }}
                                {{ form.full_scale_range() }}
                            </div>
                        </div>
                        <div class="row">
                            {# Tolerance Information #}
                            <div class="col-md-4 g-2">
                                {{ form.max_error.label }}
                                {{ form.max_error() }}
                            </div>
                            <div class="col-md-4 g-2">
                                {{ form.error_type.label }}
                                {{ form.error_type() }}
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="row">
                            {# Signal Injection Information #}
                            <legend>Signal Injection Range</legend>
                            <div class="row">
                                <div class="col-md-12 g-2">
                                    <label for="test-equipment-types-button-group">Required Test Equipment Types</label>
                                    <div class="btn-group-toggle mb-3" role="group" data-toggle="buttons" id="test-equipment-types-button-group">
                                        {% for test_equipment_type in test_equipment_types %}
                                            <label class="btn btn-outline-info mb-1" for="checkbox-{{ (test_equipment_type.name).replace('_', '-') }}">
                                                {{ (test_equipment_type.name).replace('_', ' ') }}
                                                {{ form['checkbox_{}'.format(test_equipment_type.name)] }}
                                            </label>                    
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 g-2">
                                {{ form.min_injection_range.label }}
                                {{ form.min_injection_range() }}
                            </div>
                            <div class="col-md-4 g-2">
                                {{ form.max_injection_range.label }}
                                {{ form.max_injection_range() }}
                            </div>
                            <div class="col-md-4 g-2">
                                {{ form.injection_units.label }}
                                {{ form.injection_units() }}
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="row">
                            {# TestPoint Information #}
                            <legend>TestPoint Definition</legend>
                            <div class="col-md-4 g-2">
                                {{ form.num_testpoints.label }}
                                {{ form.num_testpoints() }}
                            </div>
                            <div class="col-md-4 g-2">
                                {{ form.testpoint_list_type.label }}
                                {{ form.testpoint_list_type() }}
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="row">
                            {# TestPoint List #}
                            <div class="col-12 g-2">
                                {{ form.testpoint_list() }}
                            </div>
                        </div>
                        <div class="row">
                            {# Form Submission #}
                            <div class="col-md-3 g-2">
                                {{ form.submit() }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>    
    </div>
</body>
{% endblock %}

{% block scripts %}
    {{ super() }}

    {# JQuery to deal with all the dynamic functionality of the channel creation #}
    <script>
        $(document).ready(function() {

            // Value Constants
            let CSRF_TOKEN = 'csrf_token';
            let CSRF_TOKEN_VALUE = $(`#${CSRF_TOKEN}`).val();
            let REMOVE_DISABLE = 'REMOVE_DISABLE';
            let ADD_DISABLE = 'ADD_DISABLE';

            // Class Constants                
            let INPUT_GROUP_CLASS = {class: 'input-group'};        
            let ROW_CLASS = {class: 'row'};
            let COL_MD_4_CLASS = {class: 'col-md-4'};
            let COL_MD_12_CLASS = {class: 'col-md-12'};
            let INPUT_GROUP_TEXT_CLASS = 'input-group-text';
            let FORM_CLASS = 'form-control';

            // Dom Element Constants
            let DIV= '<div>';
            let INPUT = '<input>';
            let LABEL = '<label>';
            let SPAN = '<span>';
            
            // Field Type Constants
            let TEXT_TYPE = 'text';
            let HIDDEN_TYPE = 'hidden';

            // ID Constants
            let TESTPOINT_LIST = 'testpoint_list';
            let TESTPOINT_LIST_TYPE = 'testpoint_list_type';
            let NUM_TESTPOINTS = 'num_testpoints';

            // Form Field Constants
            let INJECTION_VALUE = 'injection_value';
            let INJECTION_UNITS = 'injection_units';
            let INJECTION_VALUE_UNITS = 'injection_value_units';
            let TEST_VALUE = 'test_value';
            let TEST_UNITS = 'measurement_units';
            let TEST_VALUE_UNITS = 'test_value_units';            

            // Value Constants
            let EMPTY_VALUE = ' ';
            let INJECTION_VALUES_HEADER = 'Injection Values';
            let TEST_VALUES_HEADER = 'Test Values';
            let DISABLED = 'disabled';
            let STANDARD = 'Standard';
            let CUSTOM = 'Custom';

            // Monitoring variables
            let oldNumTestpoints = 1;
            let currentInjectionUnits = "";
            let currentTestUnits = "";
            let tableDisabled = true;


            // Load the initial TestPointTable
            initTestPointTable();
                      
            
            // Function that disables or re-enables the user to modify the TestPointTable
            $(`#${TESTPOINT_LIST_TYPE}`).change(function(event) {

                // Get the new TestPoint List Type value
                let newType = event.target.value;

                // Determine whether to add or remove the disabled tags on the affected fields
                action = "";
                if (newType == CUSTOM) {
                    // Remove all the disabled tags in the TestPointTable rows
                    action = REMOVE_DISABLE;
                    tableDisabled = false;
                } else if (newType == STANDARD) {
                    // Add disabled tags to all the TestPointTable rows
                    action = ADD_DISABLE;
                    tableDisabled = true;
                }

                // Perform the action on each of the input fields in the TestPointTable
                $(`#${TESTPOINT_LIST} [id$="${INJECTION_VALUE}"]`).each(function(index, element) {
                    id = [$(element).attr('id')];
                    toggleFieldDisable(id, action);
                });
                $(`#${TESTPOINT_LIST} [id$="${TEST_VALUE}"]`).each(function(index, element) {
                    id = [$(element).attr('id')];
                    toggleFieldDisable(id, action);
                });
            })


            // Function called when the user changes the Channel's Injection Units
            $(`#${INJECTION_UNITS}`).change(function(event) {

                // Extract the new value of units from the field
                let newUnits = event.target.value;

                // Update the units on all the relevant TestPointTable fields
                updateUnits(newUnits, INJECTION_VALUE_UNITS);
                currentInjectionUnits = newUnits;
            });


            // Function called when the user changes the Channel's Test Units
            $(`#${TEST_UNITS}`).change(function(event) {                

                // Extract the new value of units from the field
                let newUnits = event.target.value;

                // Update the units on all the relevant TestPointTable fields
                updateUnits(newUnits, TEST_VALUE_UNITS);
                currentTestUnits = newUnits;
            });


            // Function called when the user changes the number of TestPoints
            $(`#${NUM_TESTPOINTS}`).change(function(event) {

                // Extract the new number of TestPoints
                newNumTestpoints = parseInt(event.target.value);

                // Update the number of TestPoints in the table
                updateTestPointTable(newNumTestpoints, tableDisabled);
            });  
            

            // Creates the base TestPoint table starting with 1 row
            function initTestPointTable() {
                
                // Get the values to initially populate the table
                let numTestpoints = $(`#${NUM_TESTPOINTS}`).val();                
                
                // Create the TestPoint table with the starting number of rows (1)
                $(`#${TESTPOINT_LIST}`).attr({style: 'padding-left: 0px;'});
                $(`#${TESTPOINT_LIST}`).append(
                    createTestPointTableRow(numTestpoints, EMPTY_VALUE, EMPTY_VALUE, true)
                );

                // Disable the input fields since the TestPointTable type is Standard to start out
                injectionValueID = `${TESTPOINT_LIST}-1-${INJECTION_VALUE}`;
                testValueID = `${TESTPOINT_LIST}-1-${TEST_VALUE}`;
                toggleFieldDisable([injectionValueID, testValueID], ADD_DISABLE);
            }          

            // Creates a TestPoint table row DOM element
            function createTestPointTableRow(rowNum, injectionUnitsValue, testUnitsValue, hasLabels) {                

                // Create the DOM elments for the form row and input groups
                let testpointRow = $(DIV).attr(ROW_CLASS);
                let injectionCol = $(DIV).attr(COL_MD_4_CLASS);
                let injectionGroup = $(DIV).attr(INPUT_GROUP_CLASS);
                let testCol = $(DIV).attr(COL_MD_4_CLASS);
                let testGroup = $(DIV).attr(INPUT_GROUP_CLASS);                
                
                // Create the injection value elements and label
                let injectionValueID = `${TESTPOINT_LIST}-${rowNum}-${INJECTION_VALUE}`;
                let injectionValue = $(INPUT).attr({
                    type: TEXT_TYPE,
                    id: injectionValueID,
                    name: injectionValueID,
                    value: EMPTY_VALUE,
                    class: FORM_CLASS,
                });     
                let injectionUnitsID = `${INJECTION_VALUE_UNITS}-${rowNum}`;            
                let injectionUnits = $(SPAN).attr({
                    class: INPUT_GROUP_TEXT_CLASS,
                    id: injectionUnitsID,
                    name: injectionUnitsID,
                    value: EMPTY_VALUE
                }).text(injectionUnitsValue);
                
                // Create the test value elements and label
                let testValueID = `${TESTPOINT_LIST}-${rowNum}-${TEST_VALUE}`;
                let testValue = $(INPUT).attr({
                    type: TEXT_TYPE,
                    id: testValueID,
                    name: testValueID,
                    value: EMPTY_VALUE,
                    class: FORM_CLASS
                });
                let testUnitsID = `${TEST_VALUE_UNITS}-${rowNum}`;                     
                let testUnits = $(SPAN).attr({
                    class: INPUT_GROUP_TEXT_CLASS,
                    id: testUnitsID,
                    name: testUnitsID,
                    value: EMPTY_VALUE
                }).text(testUnitsValue);

                // Create the CSRF element for each row to validate the input fields
                let csrf = $(INPUT).attr({
                    id: `${TESTPOINT_LIST}-${rowNum}-${CSRF_TOKEN}`,
                    name: `${TESTPOINT_LIST}-${rowNum}-${CSRF_TOKEN}`,
                    type: HIDDEN_TYPE,
                    value: CSRF_TOKEN_VALUE
                });                

                // Build the testpoint row DOM element
                injectionGroup.append(injectionValue, injectionUnits);                
                testGroup.append(testValue, testUnits);
                
                // Adds labels if required
                if (hasLabels) {

                    // Creates the label elements
                    let testValuesLabel = $(LABEL).attr({
                        for: `${TESTPOINT_LIST}-${rowNum}-${TEST_VALUE}`
                    }).text(TEST_VALUES_HEADER);

                    let injectionValuesLabel = $(LABEL).attr({
                        for: `${TESTPOINT_LIST}-${rowNum}-${INJECTION_VALUE}`
                    }).text(INJECTION_VALUES_HEADER);

                    // Add the label elements and input groups to the column
                    injectionCol.append(injectionValuesLabel, injectionGroup)
                    testCol.append(testValuesLabel, testGroup)

                } else {
                    injectionCol.append(injectionGroup)
                    testCol.append(testGroup)
                }
                
                // Creates the final row of tespoints
                testpointRow.append(injectionCol, testCol, csrf);
                return testpointRow;
            }            


            // Adjusts the TestPointTable's Injection Units as the user changes them in the form
            function updateUnits(newUnits, unitsID) {

                // Find all the row elements in the TestPointTable that match the type of units being updated
                $(`[id^=${unitsID}]`).each(function(index, element) {
                    $(element).text(newUnits);
                });
            }


            // Disables form input fields for the TestPointTable
            // function toggleFieldDisable(injectionValueID, testValueID, action) {
            function toggleFieldDisable(fieldIDList, action) {
                
                // Toggle the disable attribute on each fieldID supplied
                fieldIDList.forEach(function(fieldID) {
                    if (action == ADD_DISABLE) {
                        $(`#${fieldID}`).attr(DISABLED,DISABLED);    
                    } else if (action == REMOVE_DISABLE) {
                        $(`#${fieldID}`).removeAttr(DISABLED);
                    }
                });                
            }


            // Adjusts the TestPointTable's number of rows based on the user's selection
            function updateTestPointTable(newNumTestpoints, disableFields) {

                // Monitoring variables
                let numUpdated = 0;                

                // Calculates the new number of rows to be added or removed
                let delta = newNumTestpoints - oldNumTestpoints;

                if (delta > 0) {

                    // Determine whether to add or remove the disabled tags on the affected fields
                    action = "";
                    if (disableFields) {
                        action = ADD_DISABLE;
                    } else {
                        action = REMOVE_DISABLE;
                    }

                    // Add the new rows of TestPoints
                    for (tp = oldNumTestpoints + 1; tp <= newNumTestpoints; tp++) {

                        // Add the new TestPointTableRow to the DOM
                        $(`#${TESTPOINT_LIST}`).append(
                            createTestPointTableRow(tp, currentInjectionUnits, currentTestUnits, false)
                        );

                        // Toggle the disable on the fields if applicable
                        injectionValueID = `${TESTPOINT_LIST}-${tp}-${INJECTION_VALUE}`;
                        testValueID = `${TESTPOINT_LIST}-${tp}-${TEST_VALUE}`;
                        toggleFieldDisable([injectionValueID, testValueID], action);

                        numUpdated++;
                    }
                    console.log(`TestPoint table updated with ${numUpdated} additional TestPoints.`);

                } else if (delta < 0) {
                    for (tp = oldNumTestpoints; tp > newNumTestpoints; tp--) {
                        // Remove each last row of TestPoints
                        $(`#${TESTPOINT_LIST} .row:last-child`).remove();
                        numUpdated++;
                    }
                    console.log(`TestPoint table updated with ${numUpdated} TestPoints removed.`);
                }

                // Update the new number of TestPoints
                oldNumTestpoints = newNumTestpoints;
            }
            




        });
    </script>
{% endblock %}