<div class="modal fade" id="additional-channel-info-dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Channel Information</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6 g-2">
                    <label for="dialog-channel-name">Channel Name</label>
                    <input class="form-control" id="dialog-channel-name" type="text">
                </div>
                <div class="col-6 g-2">
                    <label for="dialog-measurement-type">Measurement Type</label>
                    <input class="form-control" id="dialog-measurement-type" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-6 g-2">
                    <label for="dialog-minimum-range">Minimum Test Range</label>
                    <div class="input-group">                        
                        <input class="form-control" id="dialog-minimum-range" type="text">
                        <span class="input-group-text" name="dialog-test-units"></span>
                    </div>                     
                </div>
                <div class="col-6 g-2">
                    <label for="dialog-maximum-range">Maximum Test Range</label>
                    <div class="input-group">                        
                        <input class="form-control" id="dialog-maximum-range" type="text">
                        <span class="input-group-text" name="dialog-test-units"></span>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-6 g-2">
                    <label for="dialog-minimum-injection-range">Minimum Injection Range</label>              
                    <div class="input-group">                        
                        <input class="form-control" id="dialog-minimum-injection-range" type="text">
                        <span class="input-group-text" name="dialog-injection-units"></span>
                    </div>
                </div>
                <div class="col-6 g-2">
                    <label for="dialog-maximum-injection-range">Maximum Injection Range</label>              
                    <div class="input-group">                        
                        <input class="form-control" id="dialog-maximum-injection-range" type="text">
                        <span class="input-group-text" name="dialog-injection-units"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 g-2">
                    <label for="dialog-maximum-error">Maximum Error</label>              
                    <div class="input-group">                        
                        <input class="form-control" id="dialog-maximum-error" type="text">
                        <span class="input-group-text" id="dialog-error-type"></span>
                    </div>
                </div>                
                <div class="col-6 g-2">
                    <label for="dialog-full-scale-range">Full-Scale Range</label>
                    <div class="input-group">                        
                        <input class="form-control" id="dialog-full-scale-range" type="text">
                        <span class="input-group-text" name="dialog-test-units"></span>
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
</div>