{% block head %}
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
        {# Bootstrap CSS Setup #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {{ bootstrap.load_css() }}

        <style>
            hr {
                border: 0;
                clear:both;
                display:block;
                width: 96%;         
                background-color:#808080;
                height: 1px;
            }
            .units {
                background-color:#C6D2DE;
            }
            .result-badge {
                font-size: 1.1em;
            }
        </style>

    {% endblock %}

    <title>
        {# Allows for a title to be passed through to the rendered template #}
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
{% endblock %}    

{% block scripts %}
    {# Loads Bootstrap's embedded Javascript #}
    {{ bootstrap.load_js() }}

    {# Loads JS Moment for handling time #}
    {{ moment.include_moment() }}

    {# Progress bar updating function #}
    <script>

        // Name Constants
        let PROGRESS_PASSED_NAME = 'progress-passed';
        let PROGRESS_FAILED_NAME = 'progress-failed';
        let PROGRESS_IN_PROGRESS_NAME = 'progress-in-progress';
        let PERCENT_PASSED = 'percent-passed';
        let NUM_PASSED = 'num-passed';
        let CHANNEL_STATUS = 'channel-status';

        // Data Field Constants
        let PROGRESS_PASSED_DATA = 'data-progress-passed';
        let PROGRESS_FAILED_DATA = 'data-progress-failed';
        let PROGRESS_IN_PROGRESS_DATA = 'data-progress-in-progress';

        // Attribute Constants
        let WIDTH = "width"

        // Value Constants
        let CHANNEL = 'channel';
        let TESTPOINT = 'testpoint';

        // TestResult Values
        let PASS_RESULT = 'Pass';
        let FAIL_RESULT = 'Fail';
        let UNTESTED_RESULT = 'Untested';

        // Status Values
        let NOT_STARTED = 'Not Started';
        let IN_PROGRESS = 'In-Progress';
        let COMPLETE = 'Complete';

        // Class Values
        let BG_SECONDARY = 'bg-secondary';
        let BG_SUCCESS = 'bg-success';
        let BG_DANGER = 'bg-danger';
        let BG_INFO = 'bg-info';


        function updateProgressBar(parentElement, itemType,
            percentPassed, percentFailed, percentInProgress) {     

            // Find each progress bar type and update with the corresponding % complete width
            $(parentElement).find(`[name=${PROGRESS_PASSED_NAME}]`).css(WIDTH, `${percentPassed}%`);
            $(parentElement).find(`[name=${PROGRESS_FAILED_NAME}]`).css(WIDTH, `${percentFailed}%`);

            if (itemType == CHANNEL) {                
                $(parentElement).find(`[name=${PROGRESS_IN_PROGRESS_NAME}]`).css(WIDTH, `${percentInProgress}%`);
            }
        }

        function updateAllProgressBars(parentName, itemType) {
            
            // Set the chosen progress bar parent from the user
            let PROGRESS_PARENT = `${parentName}-parent`;

            // Find and update each parent item's progress bar
            $(`[name=${PROGRESS_PARENT}]`).each(function(index, element) {

                // Gather the progress bar data from the data attributes
                let passed = $(this).attr(PROGRESS_PASSED_DATA);
                let failed = $(this).attr(PROGRESS_FAILED_DATA); 
                let inProgress = 0;

                if (itemType == CHANNEL) {  
                    inProgress = $(this).attr(PROGRESS_IN_PROGRESS_DATA);
                }

                updateProgressBar(this, itemType, passed, failed, inProgress);
            });
        }

        function updateFieldTextByName(element, name, newText) {
            $(element).find(`[name="${name}"]`).text(`${newText}`);
        }

        function updateFieldValByName(element, name, newValue) {
            $(element).find(`[name="${name}"]`).val(`${newValue}`);
        }

        function getStatusBadgeClass(testResult) {

            // Check against each TestResult enum value
            if (testResult == UNTESTED_RESULT) {
                return BG_SECONDARY;
            } else if (testResult == PASS_RESULT) {
                return BG_SUCCESS;
            } else if (testResult == FAIL_RESULT) {
                return BG_DANGER;

            // Check against each Status enum value
            } else if (testResult == IN_PROGRESS) {
                return BG_INFO;
            } else if (testResult == NOT_STARTED) {
                return BG_SECONDARY;
            } else if (testResult == COMPLETE) {
                return BG_SUCCESS;
            }
        }

        function updateBadgeClass(element, name, newBadgeClass) {
            // Remove the existing badge class
            $(element).find(`[name="${name}"]`)
                .removeClass('bg-secondary bg-success bg-danger bg-info')
                .addClass(`${newBadgeClass}`);                                   
        }

    </script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        {# Main Navbar header #}
        <a class="navbar-brand" href="{{ url_for('main.index') }}">ICATS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarColor01">
            {# Left-hand side Navbar #}
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.projects') }}">All Projects</a></li>
            </ul>            
            {# Right-hand side Navbar #}
            <ul class="nav navbar-nav navbar-right">
                {# Changes the navbar items based on whether a registered user is logged in #}
                {% if current_user.is_anonymous %}
                    <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link">{{ 'Login' }}</a></li>
                {% else %}
                    <li class="nav-item"><a href="{{ url_for('main.user', username=current_user.username) }}" class="nav-link">{{ 'Profile' }}</a></li>
                    <li class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link">{{ 'Logout' }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {# Displays any passed along messages or alerts #}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# Application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}