{% block app_content %}
{% set progress = channel.testpoint_progress() %}
<tr class="text-center" name="channel-parent"
    data-channel-id="{{ channel.id }}"
    data-progress-passed="{{ progress['percent_passed'] }}"
    data-progress-failed="{{ progress['percent_failed'] }}"
    data-progress-untested="{{ progress['percent_untested'] }}">  
    <td class="align-middle" colspan="3">
        <div class="row justify-content-between">            
            <div class="col-1">{{ progress['percent_passed'] }}%</div>
            <div class="col-1">{{ channel.testpoint_stats()['Pass'] }}/{{ channel.num_testpoints() }}</div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="progress">
                    {# Set the progress bar widths in the channels.html file dynamically using jQuery #}
                    <div class="progress-bar bg-success" role="progressbar" name="progress-passed"></div>
                    <div class="progress-bar bg-info" role="progressbar" name="progress-in-progress"></div>
                    <div class="progress-bar bg-danger" role="progressbar" name="progress-failed"></div>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle" name="channel-status">{{ channel.status }}</td>
    <td class="align-middle" name="last-updated">{{ moment(channel.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>
    <td class="align-middle" name="">
        <button type="button" class="btn btn-success">
            <a style="color:#FFFFFF;" href="">Signed</a>
        </button>
    </td>
</tr>
{% endblock %}