{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        input[type="text"] {
            text-align: center;        
        }
        input[type="text"]::placeholder {
            text-align: center;        
        }
    </style>
{% endblock %}

{% block app_content %}
<div>
    <h1>{{ group.name }} Channels</h1>
    <form action="" method="POST" name="channels_form">
        {{ channels_form.hidden_tag() }}
        <table class="table table-hover table-bordered align-middle">
            <thead>
                <tr class="table-primary text-center align-middle">
                    <th class="align-middle">Channel Name</th>
                    <th class="align-middle">Injection Value</th>
                    <th class="align-middle">Test Value</th>
                    <th class="align-middle">Error</th>
                    <th class="align-middle">Result</th>
                    <th class="align-middle">Last Updated</th>
                    <th class="align-middle">Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for channel, channel_form in zip(channels, channels_form.channels) %}
                    <th class="align-middle text-center" rowspan="{{ channel.num_testpoints() + 2 }}">
                        {{ channel.name }}
                    </th>
                    {% include 'channel.html' %}
                    {% for testpoint, testpoint_form in zip(channel.testpoints, channel_form.testpoints) %}
                        {% include 'testpoint.html' %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {

            // Value Constants
            let CHANNELS = 'channels';
            let CHANNEL = 'channel';
            let CHANNEL_PARENT = CHANNEL + '-parent';
            let TESTPOINT = 'testpoint';
            let TESTPOINTS = 'testpoints';
            let INJECTION_VALUE = 'injection_value';
            let TEST_VALUE = 'test_value';
            let NOTES = 'notes';
            let LAST_UPDATED = 'last_updated';
            let LAST_UPDATED_FORMAT = 'hh:mm A, DD-MMM-YYYY';
            let UPDATE_TESTPOINT_URL = '/update_testpoint';
            let POST = 'POST';
            let PROGRESS = 'progress';
            let MESSAGE = 'message';
            let NUM_PASSED = 'num_passed';
            let STATUS = 'status';
            let EMPTY = "";
            let PERCENT_UNTESTED = 'percent_untested';
            let PERCENT_PASSED = 'percent_passed';
            let PERCENT_FAILED = 'percent_failed';

            // Name Constants
            let MEASURED_ERROR_NAME = 'measured-error';
            let LAST_UPDATED_NAME = 'last-updated';
            let TEST_RESULT_NAME = 'test-result';
            let NUM_PASSED_NAME = 'num-passed';
            let PERCENT_PASSED_NAME = 'percent-passed';
            let CHANNEL_STATUS_NAME = 'channel-status';

            // TestResult Values
            let PASS_RESULT = 'Pass';
            let FAIL_RESULT = 'Fail';
            let UNTESTED_RESULT = 'Untested';


            // Update the progress bars as the page is loaded
            updateAllProgressBars(CHANNEL, TESTPOINT);

            // Listener function for the Injection Value fields
            $(`[id$="${INJECTION_VALUE}"]`).change(function(event) {

                // Find the elements to get the data from
                let injectionValueElement = event.target;
                let parent = $(this).parents('tr');
                let dataset = parent[0].dataset;

                // Prepare the data package
                let data = {
                    testpoint_id: dataset.testpointId,
                    measured_injection_value: parseFloat(injectionValueElement.value)
                }

                // Update the TestPoint
                updateTestPoint(data, parent);
            });


            // Listener function for the Test Value fields
            $(`[id$="${TEST_VALUE}"]`).change(function(event) {

                // Find the elements to get the data from
                let testValueElement = event.target;
                let parentTestpoint = $(this).parents('tr');
                let dataset = parentTestpoint[0].dataset;

                // Extract the relevant values from the data attributes and form values
                let measuredTestValue = parseFloat(testValueElement.value);
                let nominalTestValue = parseFloat(dataset.nominalTestValue);
                let maxError = parseFloat(dataset.maxError);

                // Calculate the measured error and test result for the TestPoint
                let isEmpty = Number.isNaN(measuredTestValue);
                let measuredError, testResult;

                if (isEmpty) {
                    measuredError = EMPTY;
                    testResult = UNTESTED_RESULT;
                } else {
                    measuredError = (measuredTestValue - nominalTestValue).toFixed(3);
                    testResult = (maxError - Math.abs(measuredError) >= 0) ?
                        PASS_RESULT : FAIL_RESULT;
                }

                // Prepare the data package                
                let data = {
                    testpoint_id: dataset.testpointId,
                    channel_id: dataset.channelId,
                    measured_test_value: measuredTestValue,
                    measured_error: measuredError,
                    test_result: testResult
                }

                // Find the parent Channel element
                let parentChannel = $(parentTestpoint).prevAll(`[name=${CHANNEL_PARENT}]`).first();

                // Update the TestPoint
                updateTestPoint(data, parentTestpoint, parentChannel);                

                // Find and update the measured_error field with the calculated error
                let errorValue = (isEmpty) ? "" : measuredError;
                updateFieldValByName(parentTestpoint, MEASURED_ERROR_NAME, errorValue);
                //let errorElement = parentTestpoint.find(`[name=${MEASURED_ERROR_NAME}]`);
                //(isEmpty) ? errorElement.val('') : errorElement.val(measuredError);

                // Find and update the test_result field with the new result
                updateFieldTextByName(parentTestpoint, TEST_RESULT_NAME, testResult);
                //let resultElement = parentTestpoint.find(`[name=${TEST_RESULT_NAME}]`).text(testResult);
            });


            // Listener function for the Notes fields
            $(`[id$="${NOTES}"]`).change(function(event) {

                // Find the elements to get the data from
                let notesElement = event.target;
                let parent = $(this).parents('tr');
                let dataset = parent[0].dataset;

                // Prepare the data package
                let data = {
                    testpoint_id: dataset.testpointId,
                    notes: notesElement.value
                }

                // Update the TestPoint
                updateTestPoint(data, parent);
            });


            // Function for sending an ajax request to update TestPoint values in the database
            function updateTestPoint(data, parentTestpoint, parentChannel) {

                // Build the ajax request
                $.ajax({
                    type: POST,
                    url: UPDATE_TESTPOINT_URL,
                    data: data,
                    success: function(response) {
                        console.log(response[MESSAGE]);

                        // Extract the required data from the response
                        let lastUpdated = response[LAST_UPDATED];
                        let progress = response[PROGRESS];
                        let passed = progress[PERCENT_PASSED];
                        let failed = progress[PERCENT_FAILED];
                        let inProgress = 0;
                        let numPassed = response[NUM_PASSED];
                        let status = response[STATUS];

                        // Update the progress bar with the newly calculated progress
                        updateProgressBar(parentChannel, TESTPOINT, passed, failed, inProgress);

                        // Update the lastUpdated fields for both the TestPoint and Channel
                        let lastUpdatedValue = moment(lastUpdated).format(LAST_UPDATED_FORMAT);
                        updateFieldTextByName(parentChannel, LAST_UPDATED_NAME, lastUpdatedValue);
                        updateFieldTextByName(parentTestpoint, LAST_UPDATED_NAME, lastUpdatedValue);

                        // Update the other channel fields with their new values
                        updateFieldTextByName(parentChannel, PERCENT_PASSED_NAME, passed + '%');
                        updateFieldTextByName(parentChannel, NUM_PASSED_NAME, numPassed);
                        updateFieldTextByName(parentChannel, CHANNEL_STATUS_NAME, status);
                    },
                    error: function(error) {
                        console.log('Error updating testpoint.');
                        console.log(error);
                    }
                });                
            }

        });
    </script>
{% endblock %}