{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        input[type="text"] {
            text-align: center;        
        }
        input[type="text"]::placeholder {
            text-align: center;        
        }
    </style>
{% endblock %}

{% block app_content %}
<div>
    <h1>{{ group.name }} Channels</h1>
    <form action="" method="POST" name="channels_form">
        {{ channels_form.hidden_tag() }}
        <table class="table table-hover table-bordered align-middle">
            <thead>
                <tr class="table-primary text-center align-middle">
                    <th class="align-middle">Channel Name</th>
                    <th class="align-middle">Injection Value</th>
                    <th class="align-middle">Test Value</th>
                    <th class="align-middle">Error</th>
                    <th class="align-middle">Last Updated</th>
                    <th class="align-middle">Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for channel, channel_form in zip(channels, channels_form.channels) %}
                    <th class="align-middle text-center" rowspan="{{ channel.num_testpoints() + 1 }}">
                        {{ channel.name }}
                    </th>
                    {% for testpoint, testpoint_form in zip(channel.testpoints, channel_form.testpoints) %}
                        {% include 'testpoint.html' %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {

            // Value Constants
            let CHANNELS = 'channels';
            let TESTPOINTS = 'testpoints';
            let INJECTION_VALUE = 'injection_value';
            let TEST_VALUE = 'test_value';
            let NOTES = 'notes';
            let UPDATE_TESTPOINT_URL = '/update_testpoint';
            let POST = 'POST';
            let MESSAGE = 'message';

            // Name Constants
            let MEASURED_ERROR_NAME = 'measured-error';


            // Listener function for the Injection Value fields
            $(`[id$="${INJECTION_VALUE}"]`).change(function(event) {

                // Find the elements to get the data from
                let injectionValueElement = event.target;
                let parent = $(this).parents('tr')[0];

                // Prepare the data package
                let dataset = parent.dataset;
                let data = {
                    testpoint_id: dataset.testpointId,
                    measured_injection_value: parseFloat(injectionValueElement.value)
                }

                // Update the TestPoint
                updateTestPoint(data);
            });


            // Listener function for the Test Value fields
            $(`[id$="${TEST_VALUE}"]`).change(function(event) {

                // Find the elements to get the data from
                let testValueElement = event.target;
                let parent = $(this).parents('tr');
                let dataset = parent[0].dataset;

                // Calculate the measured error for the TestPoint
                let measuredTestValue = parseFloat(testValueElement.value);
                let nominalTestValue = parseFloat(dataset.nominalTestValue);
                let isEmpty = Number.isNaN(measuredTestValue);
                let measuredError = (isEmpty) ? "" : (measuredTestValue - nominalTestValue).toFixed(3)

                // Prepare the data package                
                let data = {
                    testpoint_id: dataset.testpointId,
                    measured_test_value: measuredTestValue,
                    measured_error: measuredError
                }

                // Update the TestPoint
                updateTestPoint(data);

                // Find and update the measured_error field with the calculated error
                let errorElement = parent.find(`[name=${MEASURED_ERROR_NAME}]`);
                (isEmpty) ? errorElement.val('') : errorElement.val(measuredError);
            });


            // Listener function for the Notes fields
            $(`[id$="${NOTES}"]`).change(function(event) {

                // Find the elements to get the data from
                let notesElement = event.target;
                let parent = $(this).parents('tr')[0];

                // Prepare the data package
                let dataset = parent.dataset;
                let data = {
                    testpoint_id: dataset.testpointId,
                    notes: notesElement.value
                }

                // Update the TestPoint
                updateTestPoint(data);
            });


            // Function for sending an ajax request to update TestPoint values in the database
            function updateTestPoint(data) {

                // Build the ajax request
                $.ajax({
                   type: POST,
                   url: UPDATE_TESTPOINT_URL,
                   data: data,
                   success: function(response) {
                       console.log(response[MESSAGE]);
                   },
                   error: function(error) {
                       console.log('Error updating testpoint.');
                       console.log(error);
                   }
                });
            }



        });
    </script>
{% endblock %}