{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        input[type="text"] {
            text-align: center;        
        }
        input[type="text"]::placeholder {
            text-align: center;        
        }
    </style>
{% endblock %}

{% block app_content %}
<div class="row align-items-center">
    <div class="col-auto">
        {# Back Button for navigating back to the Groups Page #}
        <button type="button" class="btn btn-primary">
            <a style="color:#FFFFFF;" href="{{ url_for('main.groups', job_id=group.job.id) }}">Back to Groups</a>
        </button>
        <button type="button" class="btn btn-success">
            <a style="color:#FFFFFF;" href="{{ url_for('main.add_channel', group_id=group.id) }}">Add Channel</a>
        </button>         
    </div>
    <div class="col-auto">
        <h1>{{ group.name }} Channels</h1>
    </div>
    <div class="col-auto">
        {# Create Button for creating a new Channel #}        
        <button type="button" class="btn btn-primary" id="filter-all" data-toggle="buttons">
            All Channels (<span id="filter-all-count"></span>)
        </button>
        <button type="button" class="btn btn-secondary" id="filter-untested" data-toggle="buttons">
            All Untested (<span id="filter-untested-count"></span>)
        </button>
        <button type="button" class="btn btn-info" id="filter-in-progress" data-toggle="buttons">
            All In-Progress (<span id="filter-in-progress-count"></span>)
        </button>
        <button type="button" class="btn btn-success" id="filter-passed" data-toggle="buttons">
            All Passed (<span id="filter-passed-count"></span>)
        </button>
        <button type="button" class="btn btn-danger" id="filter-failed" data-toggle="buttons">
            All Failed (<span id="filter-failed-count"></span>)
        </button>
        <button type="button" class="btn btn-warning" id="filter-unsigned" data-toggle="buttons">
            All Unsigned (<span id="filter-unsigned-count"></span>)
        </button>
    </div>         
</div>
<div class="row">
    <div class="col-11">
        <form action="" method="POST" name="channels_form">
            {{ channels_form.hidden_tag() }}
            <table class="table table-hover table-bordered align-middle">
                <thead>
                    <tr class="text-center align-middle">
                        <th class="align-middle">Channel Summary</th>
                        <th class="align-middle">Injection Value</th>
                        <th class="align-middle">Test Value</th>
                        <th class="align-middle">Error</th>
                        <th class="align-middle">Result</th>
                        <th class="align-middle">Last Updated</th>
                        <th class="align-middle">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for channel, channel_form in zip(channels, channels_form.channels) %}
                        {% include 'channel.html' %}
                        {% include 'channel_summary.html' %}                    
                        {% for testpoint, testpoint_form in zip(channel.testpoints.order_by('nominal_injection_value').all(), channel_form.testpoints) %}
                            {% include 'testpoint.html' %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{# Dialog modals for the Channel's action buttons #}
<div name="dialog-holder-1">
    {% include 'additional_channel_info_dialog.html' %}
</div>
<div name="dialog-holder-2">
    {% include 'add_new_testpoint_dialog.html' %}
</div>
<div name="dialog-holder-3">
    {% include 'rename_channel_dialog.html' %}
</div>
<div name="dialog-holder-4">
    {% include 'update_units_dialog.html' %}
</div>
<div name="dialog-holder-5">
    {% include 'delete_channel_dialog.html' %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {

            // Value Constants
            let CHANNELS = 'channels';
            let CHANNEL = 'channel';
            let CHANNEL_PARENT = CHANNEL + '-parent';
            let TESTPOINT = 'testpoint';
            let TESTPOINTS = 'testpoints';
            let INJECTION_VALUE = 'injection_value';
            let TEST_VALUE = 'test_value';
            let NOTES = 'notes';
            let INTERFACE = 'interface';
            let LAST_UPDATED = 'last_updated';
            let LAST_UPDATED_FORMAT = 'hh:mm A, DD-MMM-YYYY';
            let UPDATE_TESTPOINT_URL = '/update_testpoint';
            let UPDATE_CHANNEL_URL = '/update_channel';
            let DELETE_CHANNEL_URL = '/delete_channel';
            let POST = 'POST';
            let PROGRESS = 'progress';
            let MESSAGE = 'message';
            let NUM_PASSED = 'num_passed';
            let STATUS = 'status';
            let EMPTY = "";
            let PERCENT_UNTESTED = 'percent_untested';
            let PERCENT_PASSED = 'percent_passed';
            let PERCENT_FAILED = 'percent_failed';
            let UNTESTED = 'Untested';
            let IN_PROGRESS = 'In-Progress';
            let FAIL = 'Fail';
            let PASS = 'Pass';
            let ALL = 'All';
            let SUPPLIER = 'supplier';
            let CLIENT = 'client';

            // Name Constants
            let MEASURED_ERROR_NAME = 'measured-error';
            let LAST_UPDATED_NAME = 'last-updated';
            let TEST_RESULT_NAME = 'test-result';
            let NUM_PASSED_NAME = 'num-passed';
            let NUM_TOTAL_NAME = 'num-total';
            let PERCENT_PASSED_NAME = 'percent-passed';
            let CHANNEL_STATUS_NAME = 'channel-status';
            let SUMMARY_PARENT_NAME = 'summary-parent';
            let ASSET_ID_NAME = 'asset-id';
            let EQUIPMENT_CHOICE_NAME = 'equipment-choice';
            let SUPPLIER_APPROVAL_NAME = 'supplier-approval';
            let CLIENT_APPROVAL_NAME = 'client-approval';
            let TESTPOINT_PARENT_NAME = 'testpoint-parent';

            // Temporary Variables
            let newTestPointData = {};
            let updateChannelNameData = {};
            let additionalChannelInfoData = {};
            let updateChannelUnitsData = {};
            let deleteChannelData = {};

            // Update the progress bars as the page is loaded
            updateAllProgressBars(CHANNEL, TESTPOINT);
            updateFilterButtonCounts();
           
            // Sets the filter buttons to filter all the Channels based on their Status
            $('#filter-all').click(function(event) {filterChannelResults(ALL);});
            $('#filter-untested').click(function(event) {filterChannelResults(UNTESTED);});
            $('#filter-in-progress').click(function(event) {filterChannelResults(IN_PROGRESS);});
            $('#filter-passed').click(function(event) {filterChannelResults(PASS);});
            $('#filter-failed').click(function(event) {filterChannelResults(FAIL);});
            $('#filter-unsigned').click(function(event) {filterUnsignedChannels();});

            function filterChannelResults(statusFilter) {

                // Get a list of all Channel rows to check through
                $(`[name="${CHANNEL_PARENT}"]`).each(function(index, element) {

                    // Collapse all the channels any time the list is filtered                    
                    $(element).find(`[name="channel-toggle"]`).attr('aria-expanded', false);

                    // Unfilter all the channels before applying the next filter
                    $(element).removeClass('d-none');
                    $(element).nextUntil(`[name="${CHANNEL_PARENT}"`).removeClass('show');

                    if (statusFilter != ALL) {
                        // Hide any channel that does not match the filter criteria
                        let channelStatus = $(element).find('[name="channel-status"]').text();
                        if (channelStatus != statusFilter) {
                            $(element).addClass('d-none');
                        }
                    }
                });
            }

            function filterUnsignedChannels() {

                let hasSupplierApproval = false;
                let hasClientApproval = false;

                // Get a list of all Channel rows to check through
                $(`[name="${CHANNEL_PARENT}"]`).each(function(index, element) {

                    // Collapse all the channels any time the list is filtered                    
                    $(element).find(`[name="channel-toggle"]`).attr('aria-expanded', false);

                    // Unfilter all the channels before applying the next filter
                    $(element).removeClass('d-none');
                    $(element).nextUntil(`[name="${CHANNEL_PARENT}"`).removeClass('show');

                    // Check the Channel Summary to see which approvals are required
                    let channelSummaryElement = $(element).next();
                    let hasRequiredSupplierApproval = hasApprovalType(channelSummaryElement, SUPPLIER);
                    let hasRequiredClientApproval = hasApprovalType(channelSummaryElement, CLIENT);

                    // Check if the required approvals are signed by checking the buttons
                    hasSupplierApproval = isApprovedBy(channelSummaryElement, SUPPLIER);
                    hasClientApproval = isApprovedBy(channelSummaryElement, CLIENT);

                    // Filter out the Channel if it has the required approvals
                    if (hasOnlySupplierApproval(hasRequiredSupplierApproval, hasSupplierApproval) || 
                    hasSupplierAndClientApproval(hasRequiredSupplierApproval, hasSupplierApproval, hasRequiredClientApproval, hasClientApproval)) {
                        $(element).addClass('d-none');
                    }
                });
            }

            function hasApprovalType(parentElement, approvalType) {
                return $(parentElement).find(`[name="${approvalType}-approval"]`).length > 0;
            }

            function isApprovedBy(parentElement, approvalType) {
                return $(parentElement).find(`[name="${approvalType}-approval"]`).hasClass('active');
            }

            function hasOnlySupplierApproval(hasSupplierRequiredApproval, hasSupplierApproval) {
                return (hasSupplierRequiredApproval && hasSupplierApproval);
            }

            function hasSupplierAndClientApproval(hasSupplierRequiredApproval, hasSupplierApproval, hasClientRequiredApproval, hasClientApproval) {
                return (hasSupplierRequiredApproval && hasSupplierApproval && hasClientRequiredApproval && hasClientApproval);
            }

            // Update the total counts in the filter buttons
            function getFilterButtonCounts() {

                let totalAll = $(`[name="${CHANNEL_PARENT}"]`).length;
                let totalUntested = 0;
                let totalInProgress = 0;
                let totalPassed = 0;
                let totalFailed = 0;

                // Tally up the number of each type of Channel status
                $('[name="channel-status"]').each(function(index, element) {
                    let status = $(element).text();
                    if (status == UNTESTED) {totalUntested += 1}
                    if (status == IN_PROGRESS) {totalInProgress += 1}
                    if (status == PASS) {totalPassed += 1}
                    if (status == FAIL) {totalFailed += 1}
                });

                // Tally up the number of Channels which are not fully approved


                return {
                    totalAll: totalAll,
                    totalUntested: totalUntested,
                    totalInProgress: totalInProgress,
                    totalPassed: totalPassed,
                    totalFailed: totalFailed
                }
            }

            function updateFilterButtonCounts() {

                // Get the latest counts of the filtered items and unpack the data
                let counts = getFilterButtonCounts();
                let totalAll = counts["totalAll"];
                let totalUntested = counts["totalUntested"];
                let totalInProgress = counts["totalInProgress"];
                let totalPassed = counts["totalPassed"];
                let totalFailed = counts["totalFailed"];

                $('#filter-all-count').text(totalAll);
                $('#filter-untested-count').text(totalUntested);
                $('#filter-in-progress-count').text(totalInProgress);
                $('#filter-passed-count').text(totalPassed);
                $('#filter-failed-count').text(totalFailed);                
            }

            // Listener function for the Injection Value fields
            $(`[id$="${INJECTION_VALUE}"]`).change(function(event) {

                // Find the elements to get the data from
                let injectionValueElement = event.target;
                let parent = $(this).parents('tr');
                let dataset = parent[0].dataset;

                // Prepare the data package
                let data = {
                    testpoint_id: dataset.testpointId,
                    channel_id: dataset.channelId,
                    measured_injection_value: parseFloat(injectionValueElement.value)
                }

                // Update the TestPoint
                updateTestPoint(data, parent);
            });


            // Listener function for the Test Value fields
            $(`[id$="${TEST_VALUE}"]`).change(function(event) {

                // Find the elements to get the data from
                let testValueElement = event.target;
                let parentTestpoint = $(this).parents('tr');
                let dataset = parentTestpoint[0].dataset;

                // Extract the relevant values from the data attributes and form values
                let measuredTestValue = parseFloat(testValueElement.value);
                let nominalTestValue = parseFloat(dataset.nominalTestValue);
                let maxError = parseFloat(dataset.maxError);

                // Calculate the measured error and test result for the TestPoint
                let isEmpty = Number.isNaN(measuredTestValue);
                let measuredError, testResult;

                if (isEmpty) {
                    measuredError = EMPTY;
                    testResult = UNTESTED_RESULT;
                } else {
                    measuredError = (measuredTestValue - nominalTestValue).toFixed(3);
                    testResult = (maxError - Math.abs(measuredError) >= 0) ?
                        PASS_RESULT : FAIL_RESULT;
                }

                // Prepare the data package                
                let data = {
                    testpoint_id: dataset.testpointId,
                    channel_id: dataset.channelId,
                    measured_test_value: measuredTestValue,
                    measured_error: measuredError,
                    test_result: testResult
                }

                // Find the parent Channel element
                let parentChannel = $(parentTestpoint).prevAll(`[name=${CHANNEL_PARENT}]`).first();

                // Update the TestPoint
                updateTestPoint(data, parentTestpoint, parentChannel);                

                // Find and update the measured_error field with the calculated error
                let errorValue = (isEmpty) ? "" : measuredError;
                updateFieldValByName(parentTestpoint, MEASURED_ERROR_NAME, errorValue);

                // Find and update the test_result field with the new result
                updateFieldTextByName(parentTestpoint, TEST_RESULT_NAME, testResult);

                // Find and update the test_result stats badge
                let newBadgeClass = getStatusBadgeClass(testResult);
                updateBadgeClass(parentTestpoint, TEST_RESULT_NAME, newBadgeClass);
            });

            // Listener function for the Notes fields
            $(`[id$="${NOTES}"]`).change(function(event) {

                // Find the elements to get the data from
                let notesElement = event.target;
                let parent = $(this).parents(`[name^="${SUMMARY_PARENT_NAME}"]`).prev(`[name^="${CHANNEL_PARENT}"]`);
                let dataset = parent[0].dataset;

                // Prepare the data package
                let data = {
                    channel_id: dataset.channelId,
                    notes: notesElement.value
                }

                // Update the Channel
                updateChannel(data, parent);
            });

            // Listener function for the Interface fields
            $(`[id$="${INTERFACE}"]`).change(function(event) {

                // Find the elements to get the data from
                let interfaceElement = event.target;
                let parent = $(this).parents(`[name^="${SUMMARY_PARENT_NAME}"]`).prev(`[name^="${CHANNEL_PARENT}"]`);
                let dataset = parent[0].dataset;

                // Prepare the data package
                let data = {
                    channel_id: dataset.channelId,
                    interface: interfaceElement.value
                }

                // Update the Channel
                updateChannel(data, parent);
            });

            $(`[name=${EQUIPMENT_CHOICE_NAME}] > a.dropdown-item`).click(function(event) {

                // Find the dropdown item, even if the user clicks any inner elements to the dropdown
                let target = event.target;
                let dropdownItem = $(target).parents(`[name=${EQUIPMENT_CHOICE_NAME}]`);
                let dropdownDataset = dropdownItem[0].dataset;

                // Find the parent row element to extract data from
                let parent = $(this).parents(`[name^="${SUMMARY_PARENT_NAME}"]`).prev(`[name^="${CHANNEL_PARENT}"]`);
                let parentDataset = parent[0].dataset;

                // Find the main button element
                let parentButton = $(this).parents('ul').prev();
                let parentButtonDataset = parentButton[0].dataset;

                // Determine the new text to replace within the button and update it
                let assetId = $(dropdownItem).find(`[name=${ASSET_ID_NAME}]`).text();
                $(parentButton).find(`[name=${ASSET_ID_NAME}]`).text(assetId)

                // Update the channel with the change in TestEquipment
                let data = {
                    channel_id: parentDataset.channelId,
                    test_equipment_type_id: parentButtonDataset.equipmentTypeId,
                    test_equipment_id: dropdownDataset.equipmentId
                }
                updateChannel(data, parent);

                // Update the formatting of the button to be active if a valid asset is chosen
                let isNone = (assetId == 'None')
                if (isNone) {
                    $(parentButton).removeClass('btn-primary').addClass('btn-outline-primary');
                } else {
                    $(parentButton).removeClass('btn-outline-primary').addClass('btn-primary');
                }
            });

            $(`[name=${SUPPLIER_APPROVAL_NAME}]`).click(function(event) {

                // Find the parent row element to extract data from
                let parent = $(this).parents(`[name^="${SUMMARY_PARENT_NAME}"]`).prev(`[name^="${CHANNEL_PARENT}"]`);
                let parentDataset = parent[0].dataset;

                // Check the approval state of the button
                let isApproved;

                if ($(this).hasClass('active')) {
                    // The button has already been clicked so revert the text
                    $(this).text('{{ group.job.project.supplier().name }}');
                    isApproved = false;
                } else {
                    // Add the user's full name to the button text
                    $(this).text('{{ current_user.first_letter_last_name() }}');
                    isApproved = true;
                }

                // Update the channel with the change in supplier approval
                let data = {
                    channel_id: parentDataset.channelId,
                    supplier_approval: isApproved
                }
                updateChannel(data, parent);
            });

            $(`[name=${CLIENT_APPROVAL_NAME}]`).click(function(event) {

                // Find the parent row element to extract data from
                let parent = $(this).parents(`[name^="${SUMMARY_PARENT_NAME}"]`).prev(`[name^="${CHANNEL_PARENT}"]`);
                let parentDataset = parent[0].dataset;

                // Check the approval state of the button
                let isApproved;

                if ($(this).hasClass('active')) {
                    // The button has already been clicked so revert the text
                    $(this).text('{{ group.job.project.client().name }}');
                    isApproved = false;
                } else {
                    // Add the user's full name to the button text
                    $(this).text('{{ current_user.first_letter_last_name() }}');
                    isApproved = true;
                }

                // Update the channel with the change in supplier approval
                let data = {
                    channel_id: parentDataset.channelId,
                    client_approval: isApproved
                }
                updateChannel(data, parent);
            });

            // Listener for selecting the Add New TestPoint option from the Actions button
            $(`[name="add-new-testpoint-option"]`).click(function(event) {

                // Get the current units of the selected Channel's TestPoints
                let channelElement = $(this).parents('tr')       
                let testpointElement = $(channelElement).nextAll('[name="testpoint-parent"]').first();
                let currentInjectionUnits = $(testpointElement).find(`[name="injection-units"]`).text();                
                let currentTestUnits = $(testpointElement).find(`[name="test-units"]`).text();

                // Prepare a data package of all the info about a new TestPoint creation
                let testpointDataset = testpointElement[0].dataset;
                newTestPointData = {
                    currentInjectionUnits: $(testpointElement).find(`[name="injection-units"]`).text(),
                    currentTestUnits: $(testpointElement).find(`[name="test-units"]`).text(),
                    testPointId: testpointDataset.testpointId,
                    maxError: testpointDataset.maxError,
                    channelId: testpointDataset.channelId,
                    channelElement: channelElement,
                    testpointElement: $(testpointElement).clone()                    
                };

                // Update the modal dialog with the current Channel's units
                $('[name="new-testpoint-injection-units"]').text(newTestPointData["currentInjectionUnits"]);
                $('[name="new-testpoint-test-units"]').text(newTestPointData["currentTestUnits"]);                
            
            });

            // Listener function for submitting a new TestPoint to be added to a Channel
            $(`[name="add-new-testpoint"]`).click(function(event) {

                // TODO: Add a disable/enable for the submit button to not allow blank TestPoints to be created

                // Find the parent dialog element to extract the entered data from the user
                let dialogElement = $(this).parents('#add-new-testpoint-dialog');
                let newInjectionValue = $(dialogElement).find('#injection_value_dialog').val();
                let newTestValue = $(dialogElement).find('#test_value_dialog').val();

                // Get the relevant elements from the temporary data package
                channelElement = newTestPointData["channelElement"];
                newTestPointElement = newTestPointData["testpointElement"];

                // Wipe the value from the error field
                $(newTestPointElement).find('[name="measured-error"]').val("");

                // Changed the test result to Untested                
                updateBadgeClass(newTestPointElement, TEST_RESULT_NAME, 'bg-secondary');
                updateFieldTextByName(newTestPointElement, TEST_RESULT_NAME, 'Untested');

                // Wipe the new values from the dialog box
                $(dialogElement).find('#injection_value_dialog').val("");
                $(dialogElement).find('#test_value_dialog').val("");                              

                // Send an ajax command to create the new TestPoint
                data = {
                    testpoint_id: newTestPointData["testpointId"],
                    channel_id: newTestPointData["channelId"],
                    addTestPoint: true,
                    nominal_injection_value: newInjectionValue,
                    nominal_test_value: newTestValue
                };
                addTestPoint(data, channelElement, newTestPointElement);

            });

            // Listener for selecting the 'Rename Channel' option from the Actions button
            $(`[name="rename-channel-option"]`).click(function(event) {

                // Get the current channel name
                let channelElement = $(this).parents('tr');
                let currentChannelName = $(channelElement).find('[name="channel-name"]').text();

                // Prepare a data package for the name change
                let channelDataset = channelElement[0].dataset                
                updateChannelNameData = {
                    channelElement: channelElement,
                    channelId: channelDataset.channelId
                }

                // Update the modal dialog with the current Channel's name
                $('#current-channel-name').val(currentChannelName);

            });

            // Listener function for submitting a Channel name change
            $('[name="update-channel-name"]').click(function(event) {

                // TODO: Add a disable/enable for the submit button to not allow blank TestPoints to be created

                // Find the parent dialog element to extract the entered data from the user
                let dialogElement = $(this).parents('#rename-channel-dialog');
                let newChannelName = $(dialogElement).find('#new-channel-name').val();

                // Get the relevant elements from the temporary data package
                let channelElement = updateChannelNameData["channelElement"];
                $(channelElement).find('[name="channel-name"]').text(newChannelName);

                // Send an ajax command to update the Channel name
                let data = {
                    channel_id: updateChannelNameData["channelId"],
                    newChannelName: newChannelName
                }
                updateChannel(data, channelElement)
            });

            // Listener for selecting the 'Additional Info' option from the Actions button
            $(`[name="additional-channel-info-option"]`).click(function(event) {

                // Get the main elements to extract information from
                let channelElement = $(this).parents('tr');
                let channelDataset = channelElement[0].dataset;
                let testpointElement = $(channelElement).nextAll('[name="testpoint-parent"]').first();
                let testpointDataset = testpointElement[0].dataset;

                // Get all the additional channel information from data attributes and fields
                let channelName = $(channelElement).find('[name="channel-name"]').text();
                let measurementType = channelDataset.measurementType;
                let minimumRange = channelDataset.minimumRange;
                let maximumRange = channelDataset.maximumRange;
                let testUnits = $(testpointElement).find(`[name="test-units"]`).text();
                let maxError = testpointDataset.maxError;
                let errorType = channelDataset.errorType;
                let fullScaleRange = channelDataset.fullScaleRange;
                let minimumInjectionRange = channelDataset.minimumInjectionRange;
                let maximumInjectionRange = channelDataset.maximumInjectionRange;
                let injectionUnits = $(testpointElement).find(`[name="injection-units"]`).text();                

                // Modify some of the data for the dialog
                if (errorType == 'Eng Units') {
                    errorType = testUnits;
                }
                if (fullScaleRange == 'None') {
                    fullScaleRange = parseFloat(maximumRange) - parseFloat(minimumRange);
                }

                // Update the fields on the dialog box with the additional channel information
                $('#dialog-channel-name').val(channelName);
                $('#dialog-measurement-type').val(measurementType);
                $('#dialog-minimum-range').val(minimumRange);
                $('#dialog-maximum-range').val(maximumRange);
                $('[name="dialog-test-units"]').text(testUnits);
                $('#dialog-maximum-error').val(maxError);
                $('#dialog-error-type').text(errorType);
                $('#dialog-full-scale-range').val(fullScaleRange);
                $('#dialog-minimum-injection-range').val(minimumInjectionRange);
                $('#dialog-maximum-injection-range').val(maximumInjectionRange);
                $('[name="dialog-injection-units"]').text(injectionUnits);
            });

            // Listener for selecting the 'Update Units' option from the Actions button
            $(`[name="update-units-option"]`).click(function(event) {

                // Get the current units for the channel element and units
                let channelElement = $(this).parents('tr');
                let testpointElement = $(channelElement).nextAll('[name="testpoint-parent"]').first();
                let currentInjectionUnits = $(testpointElement).find(`[name="injection-units"]`).text();                
                let currentTestUnits = $(testpointElement).find(`[name="test-units"]`).text();

                // Prepare a data package for the name change
                let channelDataset = channelElement[0].dataset
                updateChannelUnitsData = {
                    channelElement: channelElement,
                    channelId: channelDataset.channelId
                }

                // Update the modal dialog with the current Channel's units
                $('#current-injection-units').val(currentInjectionUnits);
                $('#current-test-units').val(currentTestUnits);

            });

            // Listener function for submitting a Units change on a Channel
            $('[name="update-units-submit"]').click(function(event) {

                // Find the parent dialog element to extract the entered data from the user
                let dialogElement = $(this).parents('#update-units-dialog');
                let newInjectionUnits = $(dialogElement).find('#new-injection-units').val();
                let newTestUnits = $(dialogElement).find('#new-test-units').val();

                // Get the relevant elements from the temporary data package
                let channelElement = updateChannelUnitsData["channelElement"];

                // Send an ajax command to update the Channel name
                let data = {
                    channel_id: updateChannelUnitsData["channelId"],               
                    newInjectionUnits: newInjectionUnits,
                    newTestUnits: newTestUnits
                }
                updateChannel(data, channelElement)

                // Get each TestPoint element to update
                let testpointList = $(channelElement).next().nextUntil('[name="channel-parent"]');
                $(testpointList).each(function(index, element) {

                    // Update the Injection Units
                    $(element).find('[name="injection-units"]').text(newInjectionUnits);

                    // Update the Test Units
                    $(element).find('[name="test-units"]').text(newTestUnits);

                    // Update the Error's Units
                    $(element).find('[name="error-units"]').text(newTestUnits);
                });
            });

            // Listener for selecting the 'Delete Channel' option from the Actions button
            $(`[name="delete-channel-option"]`).click(function(event) {

                // Get the current channel element and associated information
                let channelElement = $(this).parents('tr');
                let numTestPoints = $(channelElement).find(`[name="num-total"]`).text();
                let channelName = $(channelElement).find('[name="channel-name"]').text();

                // Prepare a data package for the name change
                let channelDataset = channelElement[0].dataset
                deleteChannelData = {
                    channelElement: channelElement,
                    channelId: channelDataset.channelId,
                    numTestPoints: numTestPoints,
                    channelName: channelName
                }

                // Update the modal dialog with the current appropriate channel information
                $('#channel-name-dialog').text(channelName);
                $('#num-testpoints-dialog').text(numTestPoints);

            });

            // Listener for a confirmation of deleting a Channel from the dialog
            $(`[name="delete-channel-submit"]`).click(function(event) {

                // Get the current channel element
                let channelElement = deleteChannelData["channelElement"];

                let data = {
                    channel_id: deleteChannelData["channelId"],
                }
                deleteChannel(data, channelElement)

                // Remove the Channel's Summary table, TestPoint rows and itself
                $(channelElement).next().remove()
                $(channelElement).nextUntil('[name="channel-parent"]').remove()
                $(channelElement).remove()
            });

            // Function for sending an ajax request to update Channel values in the database
            function updateChannel(data, parentChannel) {

                // Build the ajax request
                $.ajax({
                    type: POST,
                    url: UPDATE_CHANNEL_URL,
                    data: data,
                    success: function(response) {
                        console.log(response[MESSAGE]);
                    },
                    error: function(error) {
                        console.log('Error updating channel.');
                        console.log(error);
                    }
                });
            }

            function deleteChannel(data) {

                // Build the ajax request
                $.ajax({
                    type: POST,
                    url: DELETE_CHANNEL_URL,
                    data: data,
                    success: function(response) {
                        console.log(response[MESSAGE]);
                    },
                    error: function(error) {
                        console.log('Error deleting Channel.');
                        console.log(error);
                    }
                });
            }

            // Function for sending an ajax request to add a new TestPoint to the Channel
            function addTestPoint(data, channelElement, newTestPointElement) {

                // Build the ajax request
                $.ajax({
                    type: POST,
                    url: UPDATE_CHANNEL_URL,
                    data: data,
                    success: function(response) {
                        console.log(response);

                        // Extract the TestPoint data from the response
                        let testPointData = response["testpoint_data"];
                        let numTestPoints = testPointData["num_testpoints"];             
                        
                        // Increment the rowspan of the summary-parent element to account for the new TestPoint row
                        let summaryElement = $(channelElement).next().children('td');
                        let currentRowSpan = $(summaryElement).attr("rowspan");
                        $(summaryElement).attr("rowspan", parseInt(currentRowSpan) + 1);

                        /*  Update the Injection Value Element  */
                        // Update the placeholder with the new user-defined value and wipe the existing values
                        let nominalInjectionValue = testPointData["nominal_injection_value"];
                        let injectionValueElement = $(newTestPointElement).find('[name$="injection_value"]')
                        $(injectionValueElement).attr("placeholder", nominalInjectionValue.toString());
                        $(injectionValueElement).val("");

                        // Modify the ID of the field to make it unique
                        let currentInjectionElementID = $(injectionValueElement).attr('id').split('-');
                        currentInjectionElementID[3] = numTestPoints;
                        $(injectionValueElement).attr('id', currentInjectionElementID.join('-'));

                        /*  Update the Test Value Element  */
                        // Update the placeholder with the new user-defined value and wipe the existing values
                        let nominalTestValue = testPointData["nominal_test_value"];   
                        let testValueElement = $(newTestPointElement).find('[name$="test_value"]')
                        $(testValueElement).attr("placeholder", nominalTestValue.toString());
                        $(testValueElement).val("");

                        // Modify the ID of the field to make it unique
                        let currentTestValueElementID = $(testValueElement).attr('id').split('-');
                        currentTestValueElementID[3] = numTestPoints;
                        $(testValueElement).attr('id', currentTestValueElementID.join('-'));

                        // Update the upper/lower limit values on the Test Value's input group
                        $(newTestPointElement).find('[name="lower-limit"]').text(testPointData["lower_limit"]);
                        $(newTestPointElement).find('[name="upper-limit"]').text(testPointData["upper_limit"]);

                        // Update the data-testpoint-id value with the new ID
                        let testPointId = testPointData["testpoint_id"];
                        $(newTestPointElement).attr('data-testpoint-id', testPointId);

                        // Update the Channel's progress bar widths
                        let progress = testPointData["progress"];
                        let percentPassed = progress[PERCENT_PASSED];
                        let percentFailed = progress[PERCENT_FAILED];
                        updateProgressBar(channelElement, TESTPOINT, percentPassed, percentFailed, 0);                        

                        // Update the additional progress bar details
                        let numPassed = testPointData["num_passed"];                       
                        updateFieldTextByName(channelElement, NUM_PASSED_NAME, numPassed);
                        updateFieldTextByName(channelElement, NUM_TOTAL_NAME, numTestPoints);
                        updateFieldTextByName(channelElement, PERCENT_PASSED_NAME, percentPassed + '%');

                        // Update the Channel's latest status
                        let status = testPointData["status"];
                        updateFieldTextByName(channelElement, CHANNEL_STATUS_NAME, status);
                        let newStatusBadgeClass = getStatusBadgeClass(status);
                        updateBadgeClass(channelElement, CHANNEL_STATUS_NAME, newStatusBadgeClass);

                        // Update the last-updated for the Channel and TestPoint
                        let lastUpdated = response["last_updated"];
                        let lastUpdatedValue = moment(lastUpdated).format(LAST_UPDATED_FORMAT);
                        updateFieldTextByName(channelElement, LAST_UPDATED_NAME, lastUpdatedValue);
                        updateFieldTextByName(newTestPointElement, LAST_UPDATED_NAME, lastUpdatedValue);

                        // Add the new TestPoint row in at the end of the Channel's list of TestPoints
                        let startingElement = $(channelElement).nextAll('[name="testpoint-parent"]').first();

                        // Determine the appropriate location for the new TestPoint and add it into the DOM
                        let newPosition = testPointData["new_position"]; 
                        let newTestPointElementSibling = traverseNextByNum(startingElement, newPosition);
                        $(newTestPointElementSibling).before(newTestPointElement);

                    },
                    error: function(error) {
                        console.log('Error adding testpoint.');
                        console.log(error);
                    }
                });
            }

            // Function for sending an ajax request to update TestPoint values in the database
            function updateTestPoint(data, parentTestpoint, parentChannel) {

                // Build the ajax request
                $.ajax({
                    type: POST,
                    url: UPDATE_TESTPOINT_URL,
                    data: data,
                    success: function(response) {
                        console.log(response[MESSAGE]);
                        console.log(response)

                        // Extract the required data from the response
                        let lastUpdated = response[LAST_UPDATED];
                        let progress = response[PROGRESS];
                        let passed = progress[PERCENT_PASSED];
                        let failed = progress[PERCENT_FAILED];
                        let inProgress = 0;
                        let numPassed = response[NUM_PASSED];
                        let status = response[STATUS];

                        // Update the progress bar with the newly calculated progress
                        updateProgressBar(parentChannel, TESTPOINT, passed, failed, inProgress);

                        // Update the lastUpdated fields for both the TestPoint and Channel
                        let lastUpdatedValue = moment(lastUpdated).format(LAST_UPDATED_FORMAT);
                        updateFieldTextByName(parentChannel, LAST_UPDATED_NAME, lastUpdatedValue);
                        updateFieldTextByName(parentTestpoint, LAST_UPDATED_NAME, lastUpdatedValue);

                        // Update the other channel fields with their new values
                        updateFieldTextByName(parentChannel, PERCENT_PASSED_NAME, passed + '%');
                        updateFieldTextByName(parentChannel, NUM_PASSED_NAME, numPassed);
                        updateFieldTextByName(parentChannel, CHANNEL_STATUS_NAME, status);

                        // Update the status badge
                        let newBadgeClass = getStatusBadgeClass(status);
                        updateBadgeClass(parentChannel, CHANNEL_STATUS_NAME, newBadgeClass); 
                    },
                    error: function(error) {
                        console.log('Error updating testpoint.');
                        console.log(error);
                    }
                });                
            }

            // Function for traversing sibling DOM elements
            function traverseNextByNum(element, numElements) {
                for (i=0; i < numElements; i++) {
                    element = $(element).next()
                }
                return element
            }

        });
    </script>
{% endblock %}