{% block app_content %}
{% set progress = channel.testpoint_progress() %}
<tr class="text-center table-primary" name="channel-parent"
    data-channel-id="{{ channel.id }}"
    data-progress-passed="{{ progress['percent_passed'] }}"
    data-progress-failed="{{ progress['percent_failed'] }}"
    data-progress-untested="{{ progress['percent_untested'] }}">
    <th class="align-middle text-center">{{ channel.name }}</th>
    <td class="align-middle" colspan="3">
        <div class="row justify-content-between">            
            <div class="col-1" name="percent-passed">{{ progress['percent_passed'] }}%</div>
            <div class="col-1">
                <span name="num-passed">{{ channel.testpoint_stats()['Pass'] }}</span>/{{ channel.num_testpoints() }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="progress">
                    {# Set the progress bar widths in the channels.html file dynamically using jQuery #}
                    <div class="progress-bar bg-success" role="progressbar" name="progress-passed"></div>
                    <div class="progress-bar bg-danger" role="progressbar" name="progress-failed"></div>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        {% if channel.status == 'Untested' %}
        <span class="badge bg-secondary result-badge" name="channel-status">{{ channel.status }}</span>
        {% elif channel.status == 'In-Progress' %}
        <span class="badge bg-info result-badge" name="channel-status">{{ channel.status }}</span>
        {% elif channel.status == 'Pass' %}
        <span class="badge bg-success result-badge" name="channel-status">{{ channel.status }}</span>
        {% elif channel.status == 'Fail' %}
        <span class="badge bg-danger result-badge" name="channel-status">{{ channel.status }}</span>
        {% endif %}
    </td>
    <td class="align-middle" name="last-updated">{{ moment(channel.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>
    <td class="align-middle" name="">
        
    </td>
</tr>
{% endblock %}