{% block app_content %}
{% set progress = channel.testpoint_progress() %}
<tr class="text-center table-primary" name="channel-parent" id="channel-id-{{ channel.id }}"    
    data-channel-id="{{ channel.id }}"
    data-progress-passed="{{ progress['percent_passed'] }}"
    data-progress-failed="{{ progress['percent_failed'] }}"
    data-progress-untested="{{ progress['percent_untested'] }}"
    data-measurement-type="{{ channel.measurement_type }}"
    data-minimum-range="{{ channel.min_range }}"
    data-maximum-range="{{ channel.max_range }}"
    data-full-scale-range="{{ channel.full_scale_range }}"
    data-error-type="{{ channel.error_type }}"
    data-minimum-injection-range="{{ channel.min_injection_range }}"
    data-maximum-injection-range="{{ channel.max_injection_range }}">
    <th class="align-middle text-center">
        <div class="row">
            <div class="col-2" type="button" data-toggle="collapse" data-target='[id^="channel-{{ channel.id }}-"]'>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
                </svg>
            </div>
            <div class="col-10 align-self-center fs-5">
                <div class="align-middle" name="channel-name">{{ channel.name }}</div>
            </div>
        </div>        
    </th>
    <td class="align-middle" colspan="3">
        <div class="row justify-content-between">            
            <div class="col-2 text-start" name="percent-passed">{{ progress['percent_passed'] }}%</div>
            <div class="col-2 text-end">
                <span name="num-passed">{{ channel.testpoint_stats()['Pass'] }}</span>
                /
                <span name="num-total">{{ channel.num_testpoints() }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="progress">
                    {# Set the progress bar widths in the channels.html file dynamically using jQuery #}
                    <div class="progress-bar bg-success" role="progressbar" name="progress-passed"></div>
                    <div class="progress-bar bg-danger" role="progressbar" name="progress-failed"></div>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        {% if channel.status == 'Untested' %}
        <span class="badge bg-secondary result-badge" name="channel-status">{{ channel.status }}</span>
        {% elif channel.status == 'In-Progress' %}
        <span class="badge bg-info result-badge" name="channel-status">{{ channel.status }}</span>
        {% elif channel.status == 'Pass' %}
        <span class="badge bg-success result-badge" name="channel-status">{{ channel.status }}</span>
        {% elif channel.status == 'Fail' %}
        <span class="badge bg-danger result-badge" name="channel-status">{{ channel.status }}</span>
        {% endif %}
    </td>
    <td class="align-middle" name="last-updated">{{ moment(channel.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>
    <td class="align-middle" name="actions">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Add/Edit</button>
            <ul class="dropdown-menu dropdown-menu-end">                
                <li>
                    <a class="dropdown-item" name="rename-channel-option" href="#rename-channel-dialog" data-toggle="modal" type="button">Rename Channel</a>
                </li> 
                <li>
                    <a class="dropdown-item" name="update-units-option" href="#update-units-dialog" data-toggle="modal" type="button">Update Units</a>
                </li>
                <li>
                    <a class="dropdown-item" name="additional-channel-info-option" href="#additional-channel-info-dialog" data-toggle="modal" type="button">Additional Info</a>
                </li>          
                <li>
                    <a class="dropdown-item" name="add-new-testpoint-option" href="#add-new-testpoint-dialog" data-toggle="modal" type="button">Add New TestPoint</a>
                </li>
                <li>
                    <a class="dropdown-item" name="delete-channel-option" href="#delete-channel-dialog" data-toggle="modal" type="button">Delete Channel</a>
                </li>  
                {#<li name="create-new-like"><a class="dropdown-item" href="#">Create New Like</a></li>#}
            </ul>
        </div>
    </td>
</tr>
{% endblock %}