<tr name="summary-parent">
    <td class="text-center" rowspan="{{ channel.num_testpoints() + 1 }}" style="padding: 0">
        <table class="table table-bordered table-secondary">
            <tbody>
                <tr>
                    <td class="text-center align-middle table-primary">Test Equipment</td>
                    <td class="text-center">
                    {# Iterate through each of the Required TestEquipment for the channel and add a button for each #}
                    {% for test_equipment_type in channel.required_test_equipment.order_by('name').all() %}
                        {% set equipment_id = "equipment-{}".format(test_equipment_type.id) %}
                        <div class="row">
                            <div class="col-12 g-1">
                                <div class="btn-group" role="group">
                                    {% set equip_id = "equip-{}-{}".format(test_equipment_type.id, channel.id) %}
                                    {% set current_test_equipment = channel.current_test_equipment(test_equipment_type.id) %}
                                    {# Create the button and populate the text with the name and asset_id of the currently assigned TestEquipment #}
                                    {% if current_test_equipment == None %}                     
                                        <button id="{{ equip_id }}" name="equipment-button" type="button" class="btn btn-outline-primary dropdown-toggle badge" data-toggle="dropdown" data-equipment-type-id="{{ test_equipment_type.id }}">
                                            {{ test_equipment_type.name }} 
                                            (<span name="asset-id">None</span>)
                                        </button>
                                    {% else %}
                                        <button id="{{ equip_id }}" name="equipment-button" type="button" class="btn btn-primary dropdown-toggle badge" data-toggle="dropdown" data-equipment-type-id="{{ test_equipment_type.id }}">
                                            {{ test_equipment_type.name }} 
                                            (<span name="asset-id">{{ current_test_equipment.asset_id }}</span>)
                                        </button>
                                    {% endif %}
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        {# Create additional dropdown list items for each TestEquipment item assigned to the Project for the specific TestEquipmentType #}
                                        {% for test_equipment in group.job.project.test_equipment_of_type(test_equipment_type) %}
                                            <li name="equipment-choice" data-equipment-id="{{ test_equipment.id }}">
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                    <span name="asset-id"><b style="color:#244463;">{{ test_equipment.asset_id }}</b></span>: Due {{ moment(test_equipment.due_date()).format("DD-MMM-YYYY") }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>                                               
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle table-primary">Interface</td>
                    <td class="text-center align-middle">
                        {% if channel.interface == None %}            
                            {{ channel_form.interface(value="") }}
                        {% else %}
                            {{ channel_form.interface(value=channel.interface) }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle table-primary">Approvals</td>
                    <td class="text-center align-middle">
                        {% if channel.required_supplier_approval %}
                            {# Check for a Supplier approval on the channel #}
                            {% set supplier_approval_record = channel.supplier_approval_record() %}
                            {% if supplier_approval_record == None %}
                                {# If there is no Supplier approval record, add the name of the Supplier into the button and allow any Supplier employee to approve #}
                                {% if current_user.company.category == 'Supplier' %}
                                    <button type="button" class="btn btn-outline-primary badge" name="supplier-approval" data-toggle="buttons">
                                        {{ group.job.project.supplier().name }}
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-primary badge" name="supplier-approval" data-toggle="buttons" disabled>
                                        {{ group.job.project.supplier().name }}
                                    </button>
                                {% endif %}
                            {% else %}
                                {# If there is a Supplier approval record, add the name of the User who signed into the button and only allow the approver to unsign #}
                                {% if supplier_approval_record.user == current_user %}
                                    <button type="button" class="btn btn-outline-primary badge active" name="supplier-approval" data-toggle="buttons">
                                        {{ supplier_approval_record.user.full_name() }}
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-primary badge active" name="supplier-approval" data-toggle="buttons" disabled>
                                        {{ supplier_approval_record.user.full_name() }}
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if channel.required_client_approval %}
                            {# Check for a Client approval on the channel #}
                            {% set client_approval_record = channel.client_approval_record() %}
                            {% if client_approval_record == None %}
                                {# If there is no Client approval record, add the name of the Client into the button and allow any Client employee to approve #}
                                {% if current_user.company.category == 'Client' %}
                                    <button type="button" class="btn btn-outline-primary badge" name="client-approval" data-toggle="buttons">
                                        {{ group.job.project.client().name }}
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-primary badge" name="client-approval" data-toggle="buttons" disabled>
                                        {{ group.job.project.client().name }}
                                    </button>
                                {% endif %}
                            {% else %}
                                {# If there is a Client approval record, add the name of the User who signed into the button and only allow the approver to unsign #}
                                {% if client_approval_record.user == current_user %}
                                    <button type="button" class="btn btn-outline-primary badge active" name="client-approval" data-toggle="buttons">
                                        {{ client_approval_record.user.full_name() }}
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-primary badge active" name="client-approval" data-toggle="buttons" disabled>
                                        {{ client_approval_record.user.full_name() }}
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>            
                <tr>
                    <td class="text-center align-middle table-primary">Notes</td>
                    <td class="text-center align-middle">
                        {{ channel_form.notes.data }}
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
