{% block app_content %}
{% set progress = group.channel_progress() %}
<tr class="text-center" name="group-parent"
    data-progress-passed="{{ progress['percent_passed'] }}"    
    data-progress-failed="{{ progress['percent_failed'] }}"
    data-progress-in-progress="{{ progress['percent_in_progress'] }}">
    <td class="align-middle">{{ group.name }}</td>
    <td class="align-middle">
        <div class="row justify-content-between">
            <div class="col-2">{{ progress['percent_passed'] }}%</div>
            <div class="col-2">{{ group.channel_stats()['Pass'] }}/{{ group.num_channels() }}</div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="progress">
                    {# Set the progress bar widths in the groups.html file dynamically using jQuery #}
                    <div class="progress-bar bg-success" role="progressbar" name="progress-passed"></div>
                    <div class="progress-bar bg-info" role="progressbar" name="progress-in-progress"></div>
                    <div class="progress-bar bg-danger" role="progressbar" name="progress-failed"></div>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">{{ group.status }}</td>
    <td class="align-middle">{{ moment(group.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>
    <td class="align-middle">
        <div class="row justify-content-start px-1">
            <div class="col-auto">
                {# Button for seeing a list of all the group's channels #}
                <button type="button" class="btn btn-info">
                    <a style="color:#FFFFFF;" href="{{ url_for('main.channels', group_id=group.id) }}">Channel List</a>
                </button>
                {# Button for adding a new channel to the group #}
                <button type="button" class="btn btn-success">
                    <a style="color:#FFFFFF;" href="{{ url_for('main.add_channel', group_id=group.id) }}">Add Channel</a>
                </button>
            </div>
        </div>        
    </td>
</tr>
{% endblock %}