{% block app_content %}
<tr class="text-center" name="testpoint-parent"
    data-testpoint-id="{{ testpoint.id }}"
    data-channel-id="{{ testpoint.channel.id }}"
    data-measured-injection-value="{{ testpoint.measured_injection_value }}"
    data-nominal-injection-value="{{ testpoint.nominal_injection_value }}"
    data-measured-test-value="{{ testpoint.measured_test_value }}"
    data-nominal-test-value="{{ testpoint.nominal_test_value }}"
    data-max-error="{{ testpoint.calc_max_error() }}">
    <td class="align-middle">
        <div class="row">
            <div class="col">
                <div class="input-group text-primary">
                    {% if testpoint.measured_injection_value == None %}            
                        {{ testpoint_form.injection_value(
                            value="",
                            placeholder=testpoint.nominal_injection_value|round(5),
                            class="text-primary form-control")
                        }}
                    {% else %}
                        {{ testpoint_form.injection_value(
                            value=testpoint.measured_injection_value|round(5),
                            placeholder=testpoint.nominal_injection_value|round(5),
                            class="text-primary form-control")
                        }}
                    {% endif %}
                    <span class="input-group-text units" name="injection-units">{{ channel.injection_units }}</span>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    {#<span class="input-group-text" name="lower-limit">{{ '%0.4f' % testpoint.lower_limit()|round(5) }}</span>#}
                    <span class="input-group-text" name="lower-limit">{{ testpoint.lower_limit()|format_decimal(format='####0.#####') }}</span>
                    {% if testpoint.measured_test_value == None %}            
                        {{ testpoint_form.test_value(
                            value="",
                            placeholder=testpoint.nominal_test_value|round(5),
                            class="text-primary form-control")
                        }}
                    {% else %}
                        {{ testpoint_form.test_value(
                            value=testpoint.measured_test_value|round(5),
                            placeholder=testpoint.nominal_test_value|round(5),
                            class="text-primary form-control")
                        }}
                    {% endif %}
                    <span class="input-group-text" name="upper-limit">{{ testpoint.upper_limit()|format_decimal(format='####0.#####') }}</span>
                    <span class="input-group-text units" name="test-units">{{ channel.measurement_units }}</span>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="row">
            <div class="col">
                <div class="input-group text-primary">
                    {% if testpoint.measured_error == None %}
                        <input type="text" class="form-control text-center" name="measured-error" placeholder="0.000" value="" readonly>
                    {% else %}
                        <input type="text" class="form-control text-center" name="measured-error" placeholder="0.000" value="{{ testpoint.measured_error|format_decimal(format='####0.#####') }}" readonly>
                    {% endif %}
                    <span class="input-group-text units" name="error-units">{{ channel.measurement_units }}</span>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        {% if testpoint.test_result == 'Untested' %}
        <span class="badge bg-secondary result-badge" name="test-result">{{ testpoint.test_result }}</span>
        {% elif testpoint.test_result == 'Pass' %}
        <span class="badge bg-success result-badge" name="test-result">{{ testpoint.test_result }}</span>
        {% elif testpoint.test_result == 'Fail' %}
        <span class="badge bg-danger result-badge" name="test-result">{{ testpoint.test_result }}</span>
        {% endif %}
    </td>
    <td class="align-middle" name="last-updated">{{ moment(testpoint.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>
    <td class="align-middle" width="">
        {#
        <button type="button" class="btn btn-sm btn-success" name="add-testpoint">Add</button>
        <button type="button" class="btn btn-sm btn-danger" name="remove-testpoint">Remove</button>
        #}
    </td>
</tr>
{% endblock %}