{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-10">
        <h1>Test Equipment List:</h1>  
        <table class="table table-hover table-bordered align-middle">
            <thead>
                <tr class="table-primary text-center align-middle">
                    <th class="align-middle">Name</th>
                    <th class="align-middle">Manufacturer</th>
                    <th class="align-middle">Model Number</th>
                    <th class="align-middle">Serial Number</th>
                    <th class="align-middle">Asset ID</th>
                    <th class="align-middle">Calibration Due Date</th>
                    <th class="align-middle">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for test_equipment in test_equipment %}
                <tr>
                    <td class="align-middle text-center">{{ test_equipment.name }}</td>                   
                    <td class="align-middle text-center">{{ test_equipment.manufacturer }}</td>                   
                    <td class="align-middle text-center">{{ test_equipment.model_num }}</td>                   
                    <td class="align-middle text-center">{{ test_equipment.serial_num }}</td>                   
                    <td class="align-middle text-center">{{ test_equipment.asset_id }}</td>
                    {% set due_date = test_equipment.due_date() %}
                    {% if due_date == None %}
                    <td class="align-middle text-center">No Calibration Records</td>      
                    {% else %}
                    <td class="align-middle text-center">{{ moment(due_date).format("DD-MMM-YYYY") }}</td>
                    {% endif %}         
                    <td class="align-middle">
                        {# Button for adding a calibration record to the Equipment #}
                        <button type="button" class="btn btn-info">
                            <a style="color:#FFFFFF;" href="{{ url_for('main.add_calibration_record', test_equipment_id=test_equipment.id) }}">Add Calibration Record</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function() {

        });
    </script>
{% endblock %}