

{% block app_content %}
<tr class="text-center" name="testpoint-parent"
    data-testpoint-id="{{ testpoint.id }}"
    data-channel-id="{{ testpoint.channel.id }}"
    data-measured-injection-value="{{ testpoint.measured_injection_value }}"
    data-nominal-injection-value="{{ testpoint.nominal_injection_value }}"
    data-measured-test-value="{{ testpoint.measured_test_value }}"
    data-nominal-test-value="{{ testpoint.nominal_test_value }}"
    data-max-error="{{ testpoint.calc_max_error() }}"
    >
    <td class="align-middle">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    {% if testpoint.measured_injection_value == None %}            
                        {{ testpoint_form.injection_value(
                            value="",
                            placeholder=testpoint.nominal_injection_value)
                        }}
                    {% else %}
                        {{ testpoint_form.injection_value(
                            value=testpoint.measured_injection_value,
                            placeholder=testpoint.nominal_injection_value)
                        }}
                    {% endif %}
                    <span class="input-group-text">{{ channel.injection_units }}</span>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text">{{ testpoint.lower_limit() }}</span>
                    {% if testpoint.measured_test_value == None %}            
                        {{ testpoint_form.test_value(
                            value="",
                            placeholder=testpoint.nominal_test_value)
                        }}
                    {% else %}
                        {{ testpoint_form.test_value(
                            value=testpoint.measured_test_value,
                            placeholder=testpoint.nominal_test_value)
                        }}
                    {% endif %}
                    <span class="input-group-text">{{ testpoint.upper_limit() }}</span>
                    <span class="input-group-text">{{ channel.measurement_units }}</span>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    {% if testpoint.measured_error == None %}
                        <input type="text" class="form-control text-center" name="measured-error" placeholder="0.000" value="" readonly>
                    {% else %}
                        <input type="text" class="form-control text-center" name="measured-error" placeholder="0.000" value="{{ testpoint.measured_error }}" readonly>
                    {% endif %}
                    <span class="input-group-text">{{ channel.measurement_units }}</span>
                </div>
            </div>
        </div>
    </td>
    <td class="align-middle" name="test-result">{{ testpoint.test_result }}</td>
    <td class="align-middle" name="last-updated">{{ moment(testpoint.last_updated).format("hh:mm A, DD-MMM-YYYY") }}</td>
    <td class="align-middle">
        {% if testpoint.notes == None %}            
            {{ testpoint_form.notes(value="") }}
        {% else %}
            {{ testpoint_form.notes(value=testpoint.notes) }}
        {% endif %}
    </td>
</tr>
{% endblock %}