<div class="modal fade" id="update-units-dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Update Channel Units</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6 g-2">
                    <label for="current-injection-units">Current Injection Units</label>
                    <input class="form-control" id="current-injection-units" name="current-injection-units" type="text" disabled>
                </div>
                <div class="col-6 g-2">
                    <label for="new-injection-units">New Injection Units</label>
                    <select class="custom-select text-center" id="new-injection-units">
                        {% for unit in eng_units() %}
                            <option value="{{ unit }}">{{ unit }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-6 g-2">
                    <label for="current-test-units">Current Test Units</label>
                    <input class="form-control" id="current-test-units" name="current-test-units" type="text" disabled>
                </div>
                <div class="col-6 g-2">
                    <label for="new-test-units">New Test Units</label>
                    <select class="custom-select text-center" id="new-test-units">
                        {% for unit in eng_units() %}
                            <option value="{{ unit }}">{{ unit }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 g-2">
                    <p>Note: <b class='text-danger'>
                        Nominal values and error calculations may be affected from unit change. 
                        Please delete and create a new channel if that is the case.</b></p>
                </div>                
            </div>            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" name="update-units-submit" data-dismiss="modal">Update</button>
        </div>
    </div>
</div>